name: Tag and release a new version

on:
  push:
    branches:
      - main

jobs:
  tag:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.semantic.outputs.version }}
      version-tag: ${{ steps.semantic.outputs.version_tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Determine version
        id: semantic
        uses: paulhatch/semantic-version@v5.4.0
        with:
          tag_prefix: v
          debug: true

      - name: Tag git repo with new version
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git tag -a "${{ steps.semantic.outputs.version_tag }}" -m "Release ${{ steps.semantic.outputs.version_tag }}"
          git push origin tag ${{ steps.semantic.outputs.version_tag }}

  deploy:
    runs-on: ubuntu-latest
    needs:
      - tag

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Get previous tag
        id: previous
        run: |
          name=$(git --no-pager tag --sort=creatordate --merged refs/tags/${{ needs.tag.outputs.version-tag }} | tail -2 | head -1)
          echo "tag=$name" >> $GITHUB_OUTPUT

      - name: Create a new release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PREV_TAG: ${{ steps.previous.outputs.tag }}
          NEW_TAG: ${{ needs.tag.outputs.version-tag }}
        run: |
          gh release create $NEW_TAG \
            --fail-on-no-commits \
            --generate-notes \
            --latest \
            --notes-start-tag $PREV_TAG \
            --verify-tag
